<%-include ('../header') %>


  <!-- Content wrapper -->
  <div class="content-wrapper">

    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms /</span> Create Candidates</h4>
      
      <form action="create-candidates" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="col-xl-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="mb-3 row">
                <label for="html5-text-input" class="col-md-2 col-form-label">Name</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" name="name" placeholder="Name"  id="html5-text-input" />
                </div>
              </div>
              <div class="mb-3 row">
                <label for="html5-tel-input" class="col-md-2 col-form-label">Adress</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" name="address" placeholder="...Ha Noi" id="html5-tel-input" />
                </div>
              </div>
              <div class="mb-3 row">
                <label for="html5-tel-input" class="col-md-2 col-form-label">Phone</label>
                <div class="col-md-10">
                  <input class="form-control" type="tel" name="phone" placeholder="90-(164)-188-556" id="html5-tel-input" />
                </div>
              </div>
              <div class="mb-3 row">
                <label for="html5-password-input" class="col-md-2 col-form-label">Content</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" name="content" placeholder="introduce" id="html5-password-input" />
                </div>
              </div>
              <div class="mb-3 row">
                <label for="html5-number-input" class="col-md-2 col-form-label">Age</label>
                <div class="col-md-10">
                  <input class="form-control" type="number" name="age" placeholder="18" id="html5-number-input" />
                </div>
              </div>
              <div class="mb-3 row">
                <label for="html5-password-input" class="col-md-2 col-form-label">Other</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" name="other" placeholder="introduce" id="html5-password-input" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card mb-4">
          <div class="card">
            <div class="card-body">
              <div class="mb-3">
                <label for="formFile" class="form-label">Avartar</label>
                <input class="form-control" type="file" name="image" id="formFile" />
              </div>
              <div class="col-md">
                <small class="text-light fw-semibold">Status</small>
                <div class="form-check mt-3">
                  <input
                    name="status"
                    class="form-check-input"
                    type="radio"
                    value="1"
                    id="defaultRadio1"
                  />
                  <label class="form-check-label" for="defaultRadio1"> Display</label>
                </div>
                <div class="form-check">
                  <input
                    name="status"
                    class="form-check-input"
                    type="radio"
                    value="0"
                    id="defaultRadio2"
                    checked
                  />
                  <label class="form-check-label" for="defaultRadio2"> Hiding </label>
                </div>
              </div>
            </div>
            <div class="card-body demo-vertical-spacing demo-only-element">
              <div class="input-group">
                <label class="input-group-text" for="inputGroupSelect01">Contest</label>
                <select class="form-select" name="contest" id="inputGroupSelect01" required="required">
                  <option selected>option contest</option>
                  <% contest.forEach((item, key) => { %>
                  <option value="<%= item.id %>"><%= item.name %></option>
                  <% }); %>
                </select>
              </div>
              <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-offset="0,4"
              data-bs-placement="right" data-bs-html="true" title="Add one candidates ">
              Sumbit
            </button>
            </div>
          </div>
        </div>
        
      </div>
    </form>
    </div>
    </div>
    <!-- / Content -->


      <%-include ('../footer') %>