<%-include ('header') %>


  <!-- Content wrapper -->
  <div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
      <div class="row">
        <div class="col-md-10">
          <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Contest</h4>
        </div>
        <div class="col-md-2">
          <a href="/create-contest">
            <button hef class="btn btn-primary" data-bs-toggle="tooltip" data-bs-offset="0,4"
            data-bs-placement="right" data-bs-html="true" title="Add one candidates ">
            Add
          </button>
          </a>
        </div>

      </div>


      <div class="row">
        <div class="col-xl-12">
          <h6 class="text-muted">Name/ contest</h6>
          <div class="nav-align-top mb-4">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                  data-bs-target="#navs-top-history" aria-controls="navs-top-history" aria-selected="false">
                  <i class="menu-icon tf-icons bx bx-crown"></i>
                  History vote
                </button>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade" id="navs-top-history" role="tabpanel">
                <p>
                  Oat cake chupa chups dragée donut toffee. Sweet cotton candy jelly beans macaroon gummies
                  cupcake gummi bears cake chocolate.
                </p>
                <p class="mb-0">
                  Cake chocolate bar cotton candy apple pie tootsie roll ice cream apple pie brownie cake. Sweet
                  roll icing sesame snaps caramels danish toffee. Brownie biscuit dessert dessert. Pudding jelly
                  jelly-o tart brownie jelly.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- Tabs -->
    </div>
    <!-- / Content -->

    <%-include ('footer') %>